{% extends "jaguareteapp/layout.html" %}
{% block content %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Acerca de nosotros</h5>
      <p class="card-text">Durante más de 30 años nos hemos ha dedicado a proveer los juguetes de los niños venezolanos. La empresa ha mantenido siempre una sólida postura de liderazgo que demuestra que los juguetes con la marca son los preferidos en nuestro país. Los consumidores saben que la marca es garantía de un producto muy novedoso, de alta calidad, excelente relación precio-valor, y un altísimo valor de juego.

        Los tiempos cambian, y los juegos también. Por eso nuestro equipo de especialistas reevalúa constantemente las necesidades de los niños y ubica en el mercado internacional los productos que proporcionen los mejores beneficios a nuestros pequeños clientes. No hay niño en Venezuela que no sepa que... somos excelente..</p>
      <p class="card-text"><small class="text-muted">Con ustedes en los momentos de juegos</small></p>
    </div>
    <img src="https://images.pexels.com/photos/5894708/pexels-photo-5894708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-bottom" alt="jugando">
  </div>
{% endblock %}