{% extends "jaguareteapp/layout.html" %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
      <div class="btn-group">
        {% for un_producto in lista_principal %}
        <div class="card" style="width: 18rem;">
     
            <img src="{{ media_url  }}{{ un_producto.imagen.url }}" class="card-img-top" alt="un_producto.imagen.name">
            <div class="card-body">
              <h5 class="card-title">{{un_producto.titulo}}</h5>
              <p class="card-text">{{un_producto.descripcion}}</p>
              <a href="{% url 'TIENDAKAA:producto' un_producto.id %}"" class="btn btn-primary">Ver producto</a>
              {% if perms.sitio.change_articulo %}
              <a href="{% url 'TIENDAKAA:edicion_producto' un_producto.id %}" class="btn btn-primary">Modificar</a> / 
              {% endif %}
            </div>
          </div>
          {% endfor %}
      </div>
      {% if seccion_seleccionada %}
      <div class="alert alert-info" role="alert">{{ seccion_seleccionada }}</div>
      {% else %}
    <ul class="list-group">
      <li class="list-group-item active" aria-current="true">Mas de nuestros productos</li>
      {% endif %}
      {% for un_producto in lista_productos %}
          <li class="list-group-item">              
              <a href="{% url 'TIENDAKAA:producto' un_producto.id %}">Ver {{un_producto.titulo}} : {{un_producto.descripcion}}</a> /
              {% if perms.sitio.change_articulo %}
              <a href="{% url 'TIENDAKAA:edicion_producto' un_producto.id %}">Modificar</a>
              {% endif %}
    
          </li>
      {% empty %}
          <li>No hay productos en ésta Sección.</li>
      {% endfor %}
  </ul>
  
      
{% endblock %}