{% extends "jaguareteapp/layout.html" %}
{% block content %}

<h1>Producto Nuevo</h1>
<form enctype="multipart/form-data" action="{% url 'TIENDAKAA:nuevo_producto' %}" method="post" >
    {% csrf_token %}
    <div class="form-group row">
        <label for="seccion_input"  class="col-sm-2 col-form-label">Categoria:</label> {{ form.categoria }} {{ form.categoria.errors }}
    </div>
    <div class="form-group row">
        <label for="titulo_input"  class="col-sm-2 col-form-label">Titulo:</label> {{ form.titulo }} {{ form.titulo.errors }}
    </div>
    <div class="form-group row">
        <label for="titulo_input"  class="col-sm-2 col-form-label">Descripcion:</label> {{ form.descripcion }} {{ form.descripcion.errors }}
    </div>
    <div class="form-group row">
        <label for="imagen_input"  class="col-sm-2 col-form-label">Imagen:</label> {{ form.imagen }} {{ form.imagen.errors }}
    </div>
    <div class="form-group row">
        <label for="titulo_input"  class="col-sm-2 col-form-label">Precio:</label> {{ form.precio }} {{ form.precio.errors }}
    </div>
    <div class="col-auto">
        <a class="btn btn-primary" type="button" href="{% url 'TIENDAKAA:index'%}">Volver</a>
        <input type="submit" class="btn btn-primary" value="Crear">
    </div>
</form>
{% endblock %}
